* {
	margin:0;
	padding:10px;
	text-align:center;
}
ul{
	list-style-type:none;
}
body{
	background-color: black;
	background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-10187.jpg");
	background-repeat:repeat;
	background-position:50% 70%;
	background-size:cover;
	
}
/* allAboutme Button Set*/
#allAboutMe li{
	display:inline;
	color:white;
	border-style:solid;
	border-color:yellow;
	background-color:#990000;
	width:100px;
	height:auto;
	padding:5px;
}
#allAboutMe li:hover{
	background-color:blue;
	cursor:pointer;
}
#allAboutMe ul{
	text-align:center;
}

/*editing the background*/




/*defaultImage container*/


/*info container*/
#infoCont {
	width:50%;
	height:900px;
    border: 10px solid #ffd700;
    padding: 15px;
	padding:50px;
	margin:0 auto;
	background-color:silver;
	overflow:auto;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	
}

#infoCont img{
	width:auto;
	height:150px;

	
}
#eduInfo, #projInfo, #jobInfo, #intInfo{
	display:none;
	position:relative;
	float:left;
	border-style:double;
}
/*education info container*/
#eduInfo img{
	float:right;	
}
#eduInfo{
	background-color:blue;
	color:white;
	border:double gold 20px;
}

	

#projImg{
	position:relative;
	float:right;
	display:inline;

}

#projInfo ul{
	text-align:left;
	
	display:inline;
	
}
#projInfo li{
	text-align:left;

	
}
/* background buttons*/

.bgButtons{
	width:300px;
	height:150px;
	background-color:red;
	text-align:center;
	border-style:dotted;
	float:left;
	margin:50px;
}
.bgButtons ul{
	list-style:none;
}
.bgButtons li{
	display:inline;
}
.resetButtons{
	width:300px;
	height:150px;
	background-color:gray;
	text-align:center;
	border-style:dotted;
	float:right;
	margin:50px;
}

a.backButton{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.sectHider{
	border-style:double;
	background-color:gold;
	color:black;
}
footer{
	color:white;
}
footer dt:before {
  content: "";
  display: block;
}
footer dt, dd {
  display: inline;
}