*{
	margin:0;
	padding:0;
	text-align:center;

}
body{

	background-color:#004e8a;
	background-image:url("../src/bg.png");

}
.logo, .infoCont, footer{
	border: solid #3B3D55 10px;
}
ul{
	list-style:none;
}
.logo{
	margin:0 auto;
	margin-top:20px;
	background-color:white;
	padding-top:20px;
	height:100px;
	width:500px;
}
.navBar{
	
	height:50px;
	width:800px;
	margin:0 auto;
	padding-top:20px;
	background-color:gray;
	margin-top:30px;

		
	
	
}
.navBar li{

	list-style:none;
	text-align:center;
	background-color:#000;

	

	display:inline-block;
}
.navBar li a{
    text-decoration: none;
	width:150px;
	line-height:30px;
    color: #FFFFFF;
	display:block;
	

}
 
.navBar li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
}

.infoCont{
	clear:left;
	padding-left:20px;
	background-color:white;
	margin:0 auto;
	margin-top:20px;
	height:800px;
	width:700px;
	padding:20px;
}

.infoCont p, dd{
	text-align:justify;
}

footer{
	height:150px;
	width:300px;
	margin:0 auto;
	background-color:white;
	margin-top:50px;
	text-align:center;
}

footer dd{
	text-align:center;
	font-size:150%;
}