*{
	margin:0;
	padding:0;
	text-align:center;

}
body{

	background-color:#004e8a;
	background-image:url("../src/bg.png");

}
.logo, .infoCont, footer{
	border: solid #3B3D55 10px;
}
ul{
	list-style:none;
}
.logo{
	margin:0 auto;
	margin-top:5%;
	background-color:white;
	padding:5%;
	height:20%;
	width:70%;
}
.navBar{
	
	height:5%;
	width:80%;
	margin:0 auto;
	padding:1%;
	background-color:gray;
	margin-top:2%;

		
	
	
}
.navBar li{

	list-style:none;
	text-align:center;
	background-color:#000;
	display:inline-block;
	padding:1%;
	width:17%
}
.navBar li a{
    text-decoration: none;
	line-height:100%;
    color: #FFFFFF;
	display:block;
	

}
 
.navBar li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
}

.infoCont{
	clear:left;
	background-color:white;
	margin:0 auto;
	margin-top:5%;
	height:90%;
	width:80%;
	padding:2%;
	overflow:auto;
}

.infoCont p, dd{
	text-align:justify;
}

.infoCont dt{
	font-size:110%
}
footer{
	height:15%;
	width:30%;
	margin:0 auto;
	background-color:white;
	margin-top:5%;
	text-align:center;
	border:solid #3B3D55 10px;
	padding:1%
}

footer dl{
	margin:0;	

}
footer dd{
	text-align:center;
	font-size:100%;
}