/*
simple css sheet
*/
* {
	margin:0;
	padding:0;
	text-align: center;
	
}


body{
	background:#000000;
	color : #ffffff;
	font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;  
	font-size:20px;
}

.widget2 img{
	width : 20%;
	height : auto;
}

.widget2 li{
	display : inline;
}

@media only screen and (max-width:500px){
	.widget2 img{
		width : 30%;
		height:auto;
	}
}
/*layout*/

